server:
  error:
    include_stacktrace: ON_PARAM

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/starwars?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:      ddl-auto: update
    show-sql: true
    
services:
  swapi:
    url: https://swapi.dev/api/
    planets: planets/
    search: ?search={name}
    page: ?page={page}
    maxPages: 10